<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>

<aside th:fragment="main_menu">
	<ul class="sidebar-menu" data-widget="tree">
	    <li class="" th:class="${mainMenu == 'tppSetting'?'active':''}"><a th:href="@{/console/tpp}"><i class="fa fa-money"></i> <span>第三方支付設定</span></a></li>
	    <li class="" th:class="${mainMenu == 'trxRecord'?'active':''}"><a th:href="@{/console/trx}"><i class="fa fa-search"></i> <span>交易查詢</span></a></li>
	    <li><a href="#" onclick="logout()"><i class="fa fa-sign-out"></i> <span>登出</span></a></li>
	</ul>
</aside>
</body>
</html>