<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>CPay</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" th:href="@{/bootstrap/dist/css/bootstrap.min.css}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}"/>
    <!-- Ionicons -->
    <link rel="stylesheet" th:href="@{/Ionicons/css/ionicons.min.css}"/>
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/datatables/datatables.net-bs/css/dataTables.bootstrap.min.css}"/>
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-datepicker.css}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>|
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
</head>
<body>
<div class="wrapper">
    <section class="content-header">
        <h1>
            Demo
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- 獎品新增 Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">模擬商家傳送資訊</h3>
                    </div>
                    <div th:if="${msgError != null}" class="alert alert-danger"><span th:text="${msgError}"></span>
                    </div>
                    <div th:if="${msgInfo != null}" class="alert alert-info"><span th:text="${msgInfo}"></span>
                    </div>
                    <div th:if="${msgSuccess != null}" class="alert alert-success"><span
                            th:text="${msgSuccess}"></span></div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form id="editForm" class="form-horizontal" th:action="@{/payment/prepay}" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">金額</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="amount" name="amount" required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商家訂單號</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="merOrderNo" name="merOrderNo" required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">訂單說明</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="productId" name="productId" required="required"/>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-info btn-add pull-right">送出</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script th:src="@{/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- DataTables -->
<script th:src="@{/datatables/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/datatables/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-datepicker.js}"></script>
<!-- FastClick -->
<script th:src="@{/fastclick/lib/fastclick.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script type="text/javascript">
    $(function () {

        msgHandle();

    })

    function msgHandle() {
        setTimeout(function () {
            $('.alert').hide('slow');
        }, 3000);
    }

</script>
</body>
</html>
